.slider {
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
}

.wrapper {
  position: relative;
  height:   480px;
  margin:   0;
  padding:  0;
}

.image {
  position:   absolute;
  top:        0;
  right:      0;
  left:       0;
  max-width:  100%;
  max-height: 460px;
  margin:     auto;
}

.caption {
  position:    absolute;
  right:       0;
  bottom:      0;
  left:        0;
  max-width:   100%;
  max-height:  20px;
  text-align:  center;
  font-weight: bold;
}

.error {
  color:       #ff0000;
  font-size:   0.75em;
  white-space: pre-wrap;
}
