/*reset*/
html, body, div, span, a, p, ul, li, h1, code, nav {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
  background-color: rgb(0, 120, 0);
}

body {
  font-family: helvetica neue, helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.025em;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  /*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
  otherwise there is a phantom div on the right side of the screen (from the left:50vw),
  that the window will scroll to*/
  overflow-x: hidden;
}

/*root div in index.html*/
#root {
  min-height: 100vh;
  background-color: #FFFFFF;
}

/*reactroot div*/
#root > div {
  min-width: 34vw;
  max-width: 500px;
  padding: 3vh 0 12vh 0;

  /*center based on vw to prevent content jump when vertical scroll bar show/hide
  note: vw/vh include the width of scroll bars*/
  position: relative;
  left: 50vw;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/*use responsive max-width to simulate padding/margin to allow
space for vertical scroll bar without creating horizontal scroll bar
(if there is padding, the window will scroll horizontally to show the padding) */
@media (max-width: 540px) {
  #root > div {
    max-width: calc(100vw - 40px);
  }
}
